@tailwind base;
@tailwind components;
@tailwind utilities;

/**** FONTS ****/

/**** custom styles ****/

:root {
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  @media (max-width: 768px) {
    overflow: auto !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#app {
  width: 100%;
}
html[data-theme="light"] {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    /* background-color: #f9f9f9; */
  }
}

html[data-theme="black"] .btn-active {
  background-color: #3f3f3f;
}

/* generics */
.mt-0 {
  margin-top: 0;
}

/* Highlights */
.Title,
.ingame-Title {
  font-weight: bold;
}
.Highlight,
.highlight,
.ingame-Highlight {
  font-style: italic;
  color: oklch(var(--wa));
}
.param,
.Param {
  color: oklch(var(--wa));
}
.Light,
.ingame-Light {
  color: #f8e56c;
}
html[data-theme="light"] .Light,
html[data-theme="light"] .ingame-Light {
  color: #e1c200;
}
.Dark,
.ingame-Dark {
  color: #e649a6;
}
.Thunder,
.ingame-Thunder {
  color: #b46bff;
}
.Fire,
.ingame-Fire {
  color: #f0744e;
}
.Ice,
.ingame-Ice {
  color: #41aefb;
}
.Wind,
.ingame-Wind {
  color: #55ffb5;
}
html[data-theme="light"] .Wind,
html[data-theme="light"] .ingame-Wind {
  color: #0dc776;
}
.glacio--active {
  filter: brightness(0) saturate(100%) invert(87%) sepia(8%) saturate(5402%)
    hue-rotate(167deg) brightness(90%) contrast(91%) !important;
}
.fusion--active {
  filter: brightness(0) saturate(100%) invert(45%) sepia(20%) saturate(1309%)
    hue-rotate(314deg) brightness(98%) contrast(91%) !important;
}
.electro--active {
  filter: brightness(0) saturate(100%) invert(61%) sepia(60%) saturate(3938%)
    hue-rotate(237deg) brightness(85%) contrast(78%) !important;
}
.aero--active {
  filter: brightness(0) saturate(100%) invert(86%) sepia(33%) saturate(290%)
    hue-rotate(99deg) brightness(89%) contrast(87%) !important;
}
.spectro--active {
  filter: brightness(0) saturate(100%) invert(71%) sepia(38%) saturate(436%)
    hue-rotate(9deg) brightness(92%) contrast(90%) !important;
}
.havoc--active {
  filter: brightness(0) saturate(100%) invert(67%) sepia(68%) saturate(6636%)
    hue-rotate(299deg) brightness(95%) contrast(89%) !important;
}
/* .LingeringTunes {
  filter: brightness(0) saturate(100%) invert(12%) sepia(99%) saturate(4656%)
    hue-rotate(338deg) brightness(82%) contrast(91%) !important;
}
.RejuvenatingGlow {
  filter: brightness(0) saturate(100%) invert(79%) sepia(11%) saturate(1388%)
    hue-rotate(67deg) brightness(93%) contrast(88%) !important;
} */

.subnav {
  a {
    color: white;
  }
}
html[data-theme="black"] {
  .subnav {
    background: oklch(var(--b1)) !important;
  }
}
html[data-theme="light"] .navbar img,
html[data-theme="light"] .subnav img {
  filter: invert(100%);
}
html[data-theme="light"] {
  .navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .navbar img,
  .subnav img {
    filter: invert(100%);
  }
  .navbar svg path,
  .subnav svg path {
    stroke: black !important;
    fill: black !important;
  }
  .navbar a.active img,
  .subnav a.activeimg {
    filter: none;
  }
  .navbar a.active svg path,
  .subnav a.active svg path {
    stroke: white !important;
    fill: white !important;
  }
  .subnav.bg-base-100 {
    background: oklch(var(--b1)) !important;
  }
  #navbar-container .navbar,
  .subnav.bg-base-300 {
    background: oklch(var(--b1)) !important;

    color: oklch(var(--n)) !important;
  }
  .dropdown-content,
  .subnav {
    background: oklch(var(--b1)) !important;

    a {
      color: oklch(var(--n)) !important;
    }
    a:hover,
    a.active {
      background-color: oklch(var(--b3)) !important;

      img {
        filter: invert(100%);
      }

      svg {
        path {
          stroke: black !important;
          fill: black !important;
        }
      }
    }
  }
}

body {
  overflow: hidden;

  @media (max-width: 768px) {
    overflow: auto;
  }
}

html[data-theme="light"] input[type="number"] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    background-color: #ffffff;
    color: #213547;
  }

  box-shadow: none;
  outline: none;
}

.card-compact .card-body {
  font-size: 1rem;
  line-height: 1.5rem;
}

.label-text {
  font-size: 16px;
}
